body{
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    min-width: 1280px;
    height: auto;
}
/*шапка сайта*/
header{
    display: flex;
    flex-direction: column;
    background-image: url('../images/background_block_1_site_face.jpg');
    background-repeat: no-repeat;
    background-size: 1280px 813px;
    min-width: 1280px;
    min-height: 813px;
}
.header-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 68px;
    margin-top: 19px;
}
.header-menu > a{
    margin: 0;
    padding: 0;
}
.header-logotype{
    display: block;
    width: 87px;
    height: 99px;
}
.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 60px;
}
.menu ul{
    display: flex;
    flex-direction: row;
}
.menu li{
    margin-left: 15px;
    margin-right: 15px;
}
.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    padding: 0;
    margin: 0;
    line-height: 1.5px;
}
.menu .home-link{
    color: #E9BD8C;
}
.slogan{
    margin-top: 150px;
    margin-left: 80px;
}
.slogan-name{
    color: #E9BD8C;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0px;
}
.slogan > h1{
    color: white;
    font-size: 74px;
    font-family: 'Sansita', sans-serif;
    font-style: oblique;
    margin-top: 0px;
    font-weight: 400;
}
.information-btn{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-top: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.shop-now-btn{
    display: flex;
    width: 194px;
    height: 65px;
    background-color: #933C24;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
    font-size:24px;
}
.learn-more-btn{
    display: flex;
    margin-left: 15px;
    width: 194px;
    height: 65px;
    background: none;
    border: none;
    border-radius: 8px;
    align-items: center;
    color: #E9BD8C;
    font-weight: 400;
    font-size: 24px;
}
